@import url(fonts.css);

html {
font-size: 10px;


}
body {
   width: 100%;
   height: 100%;
   display: flex;
   position: relative;
   align-content: center;
   margin: 0;
   margin-top: 12rem;
   margin-bottom: 8rem;
   gap: 6rem;
   flex-direction: column;
   flex-wrap: nowrap;
   padding: 0;
   align-items: center;

}

h1 {
   font-family: tiny;
   font-size: 4rem;
   font-family: "Inter Tight", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   line-height: 110%;
   /* width: 100%; */
}

h2{
   font-size: 2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #666;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-style: normal;
   text-align: center;
   margin-top: 2rem;
}

h3 {
   font-size: 1.4rem;
   line-height: 140%;
   color: #91999D;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-style: normal;
   text-align: center;
}

h4{
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 600;
   color: #91999D;
}

h5 {
   font-size: 2rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 600;
   text-align: center;
   margin-bottom: .6rem;
   /* color: #91999D; */
}


p {
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   color: #91999D;
}

#scrollBar {
   position: fixed;
   top: 0;
   left: 0;
   width: 0%;
   height: 20px;
   background-color: #91999D;
   /* linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%); */
  
   background:  linear-gradient(180deg, #666 0%, #91999D 7%, #ffffff00 100%);;
   z-index: 9999;
   transition: width 0.4s ease;
   /* border-radius: 0 10px 0 10px; */
}
 

/* .page {
   width: 100%;
   height: auto;
   opacity: 0;
   transition: opacity 1s ease; 
   margin: auto;
   display: flex;
   flex-direction: column;
   font-size: 10px;
   position: relative;
   align-content: center;
} */

/* .page.fade-out {
   opacity: 0;
} */

/* body.loaded .page {
   opacity: 1;
} */

/* .lock {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #53A58E;
} */



.hero{
   display: flex;
   flex-direction: column;
   position: relative;
   width: 496px;
   height: auto;
   justify-content: center;
   gap: 3rem;
   margin: auto;
   align-items: center
}

.hero p {
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   color: #91999D;
}

.aboutMe{
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
   align-items: center;
   margin: auto;
   gap: 0;
   align-items: center;

}


.inter-tight-h2 {
   font-family: "Inter Tight", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
 }

.myImage {
   width: 16rem;
   height: 10rem;
   position: relative;
   display: flex;
   align-items: end;
   margin-bottom: 2rem;
}

.profile-photo {
   width: 10rem;
   height: 10rem;
   border-radius: 2rem;
   border: 1px solid #f5f5f5;
   background-size: cover;
   background-position: center;
   background-image: url('images/userpic.jpg');
   box-shadow: 0px 0px 8px 0px #f5f5f5 inset;
   position: relative;
   border-radius: 2rem;
   transition: all 1s ease;

   position: absolute;
   top: 0;
   left: 0;


}
.profile-logo {
   width: 10rem;
   height: 10rem;
   border-radius: 5rem;
   border: 1px solid #f5f5f5;
   background-size: cover;
   background-position: center;
   background-image: url('images/userlogo.webp');
   box-shadow: 0px 0px 8px 0px #f5f5f5 inset;
   /* right: 198px; */

   transition: all 1s ease;
   z-index: -100;


   position: absolute; /* Абсолютное позиционирование */
   top: 0; /* Позиция сверху */
   left: 75px; 
}


.myImage:hover .profile-photo,
.myImage:hover .profile-logo{
   /* border-radius: 2rem; */
   box-shadow: 0px 0px 8px 0px #f5f5f5 inset;
   transition: all 1s ease;
   border-color: #DBDBDB;
}
.myImage:hover .profile-logo {
   position: absolute;
   top: 0;
   left: 85px; 
   transform: rotate(10deg);
   transition: all 1s ease;

}


/* Contacts */

.social {
   width: 532px;
    position: relative;
    display: inline-flex;
    gap: 4rem;
    padding: 1rem;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.social a {
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   text-decoration: none;
   color: #91999D;
   transition: .4s;
}

.social a:hover{
   color: #333;
}

.highlight {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 4rem;
   border: 1px solid #DBDBDB;
   background-color: #f5f5f5;
   background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%);
   border-radius: 4rem;
   opacity: 0;
   filter: blur(1rem);
   transform: translateY(1rem);
   transition: all 0.4s ease;
   z-index: 0; 
   animation-timing-function: cubic-bezier(0.05, 0, 0.07, 0.95);
}

.social:hover .highlight {
   opacity: 1;
   filter: blur(0);
   transform: translateY(-.8rem);
}

.social:not(:hover) .highlight {
   opacity: 0;
   filter: blur(1rem);
   transform: translateY(1rem); 
}

.link {
   position: relative;
   text-decoration: none;
   color: #555;
   font-size: 16px;
   padding: 10px 20px;
   z-index: 1;
}




/* Cases */

.inProgressLabelBox{
   display: flex;
   flex-direction: row;
}
.inProgressLabel {
   width: 8px;
   height: 8px;
   background-color: #53A58E;
   border-radius: 100%;
   transition: 2s;
   animation: inProgress 6s ease infinite;
}


@keyframes inProgress{
   from {
      opacity: 0;
      transform: scale(1);
   }
   25%{
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
   }
   60%{
      opacity: 0;
      transform: scale(1.5);
      filter: blur(1rem);
   }
   100%{
      opacity: 0;
   }
}
.caseItem {
   position: relative;
   width: calc(25% - 1rem);
   aspect-ratio: 1 / 1;
   /* height: auto; */
   background-color: #ffffff;
   border-radius: 2em;
   border: 1px solid #f5f5f5;
   transition: transform 0.6s ease-in-out;
   cursor: pointer;
}
.caseItem:hover {
   background-color: #f5f5f5;
   border-color: #DBDBDB; 
   box-shadow: #91999D;
   transition: .5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   transform: scale(1.02   );
   background: var(--White, #f5f5f5);
   box-shadow: 0px 0px 74px 0px #fff inset;  
}

.caseItem:active {
   transition: .5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   transform: scale(1);
   background-color: #666;
}


.caseItem.sber:active {
   /* background-color: #53A58E; */
   background-color: rgba(83, 165, 142, .2);
}
.caseItem.skim:active {
   /* background-color: #E8C451; */
   background-color: rgba(232, 196, 81, .2);
}
.caseItem.mts:active {
   /* background-color: #DF4B2B; */
   background-color: rgba(223, 75, 43, .2)
}
.caseItem.freelance:active {
   /* background-color: #86B1DD; */
   background-color: rgba(134, 177, 221, .2)
}

/* .caseItem:active .readMore {
   color: #fff;
} */

.tooltip {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 4rem;
   padding: 1.2rem;
   white-space: nowrap;
   text-align: center;
   display: inline-block;
   background: linear-gradient(0deg, rgba(69,72,75,1) 0%, rgba(26,26,26,1) 7%, rgba(69,72,75,1) 100%);
   color: white;
   border-radius: 1.2rem;
   opacity: 0;
   visibility: hidden;
   z-index: 100;
   transform: translate(-50%, -100%) scale(0.8);
   transition: opacity 0.2s ease, visibility 0.3s ease, transform 0.3s ease;
   box-shadow: 0 4px 1.2rem rgba(0, 0, 0, 0.2);
   filter: blur(8px);
   backdrop-filter: blur(10px);
   animation: fadeInOut 0.4s cubic-bezier(0.05, 0, 0.07, 0.95) 0.4s;
}

/* Пример анимации для показа/скрытия */
@keyframes fadeInOut {
   0% {
      opacity: 0;
      transform: translate(-50%, -100%) scale(0.8);
   }
   100% {
      opacity: 1;
      transform: translate(-50%, -100%) scale(1);
   }
}






.tooltip p {
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   margin: 0;
   /* margin-bottom: .2rem; */
   color: 0 1px 3px rgba(255, 255, 255, 0.7);
   text-shadow: #333;
   text-transform: uppercase;

}

.tooltip span {
   font-size: 1.2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transform: scale(.2);
   color: #666;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-style: normal;
   text-transform: uppercase;
}

.caseItem:hover .tooltip {
   opacity: 1;
   visibility: visible;
   transform:  translate(-50%, -260%) scale(1);
   transition: .6s;
   transition-delay: 0.2s;
   filter: blur(0px);
   animation-delay: .4s;
   animation-timing-function: cubic-bezier(0.05, 0, 0.07, 0.95);
   animation-duration: .6s;
   z-index: 100;

}

.linkWrapper{
   width: 100%;
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: row;
   gap: 1em;
}

.logoIcon{
   width: 3rem;
   height: 3rem;
   position: relative;
   border-radius: 1em;
   margin: auto;
   top: calc( 50% - 1.5em );
   transform:  translate(0,0) scale(.8);
   transition: .5s;
   background-position: center;
   background-size: contain;
}

.logoIcon.sber{
   background-image: url('images/Sber.svg');
}
.logoIcon.mts {
   background-image: url('images/mts.svg');
   border-radius: .2rem;
}
.logoIcon.skim{
   background-image: url('images/skim.svg');
}
.logoIcon.freelance {
   background-image: url('images/freelance.svg');
}

.caseItem:hover .logoIcon {
   border-color: #DBDBDB; 
   box-shadow: #91999D;
   transition: .5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   animation-duration: .6s;
   transform: scale(1.05);
   /* box-shadow: 0px 0px 74px 0px #fff inset;   */
   transform:  translate(0, -1rem) scale(1);
}

.readMore {
   font-size: 1.2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transform: scale(.8);
   color: #C1C4C9;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-style: normal;
   opacity: 0;
   translate: 0 7rem;

}

.caseItem:hover .readMore {
   opacity: 1;
   transition: .5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   animation-duration: .6s;
   transform: scale(1);
   transform:  translate(0, -1rem) scale(1);
   text-align: center;
   translate: 0 6rem;
}



/* SKills */

.skills {
   /* width: 496px; */
   display: flex;
   position: relative;
   flex-direction: row;
   gap: 0;
   justify-content: center;
   align-items: center;
   transition: gap 0.3s ease;
   margin-top: 2rem;
}

.skillsBox {
   background: linear-gradient(0deg, #fff 0%, #f5f5f5 100%);
   /* background-color: #fff; */
   overflow: hidden;
   border-radius: 3rem;
   box-shadow: inset 2px -2px 4px 2px #f5f5f5;
   border: 1px solid #f5f5f5;
   width: 40rem;

}


.skillsBox:first-child{
   transform: translateX(0) translateY(0) rotate(-2deg);
}

.skillsBox:last-child{
   transform: translateX(0) translateY(2rem) rotate(2deg);
}
.skillsBox li{
   text-align: center;
   /* background-color: #f5f5f5; */
   border-bottom: 1px solid #DBDBDB;
   margin: 0;
   padding: 1rem 2rem 1rem 2rem;
}


.skillsBox li:first-child{
   text-align: center;
   background-color: #9CC1E6;
   color: #f5f5f5;
   border-radius: 3rem 3rem 0 0;
   border-color: #86B1DD;

   font-size: 1.4rem;
   line-height: 140%;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   text-align: center;
}


.skillsBox li:last-child{
   text-align: center;
   border-bottom: 0;
   padding-bottom: 1.8rem;
}





/* Expirience */

.experience {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 496px;
   height: auto;
   justify-content: center;
   gap: 2.2rem;
   margin: auto;
   align-items: center
}
.experience h1 {
   text-align: center;
}

.experience h5{
   color: #91999D;
   margin-bottom: .8rem;
 }

ul{
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   color: #91999D;
}
li{
   margin-bottom: .5rem;
}

li span {
   font-weight: 500;
}

 
.product-results {
   position: relative;
   width: auto;
   display: flex;
   flex-direction: column;
 }
 
.result-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   max-height: 20rem; /* Высота для первых 3 элементов */
   overflow: hidden;
   transition: max-height 0.5s ease; /* Анимация при раскрытии списка */
   position: relative;
}

 .result-list.innerResults {
   max-height: 10rem;
 }
 
 .result-list.open {
   max-height: 1000px; /* Высота увеличивается при раскрытии списка */
 }


 .result-list::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 50px; /* Высота градиента */
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff); /* Плавный переход к белому */
   pointer-events: none; /* Чтобы градиент не мешал кликам */
   z-index: 1; /* Располагаем градиент поверх списка */
 }

 
 .result-list.open::after {
   display: none; /* Убираем градиент при раскрытии списка */
 }



 .toggle-btn {
   height: 4rem;
   width: fit-content;
   margin: auto;
   margin-top: 15px;
   /* background: none; */
   background-color: #ffffff;
   border: 1px solid #ffffff;

   /* border: none; */
   border-radius: 4rem;
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   text-decoration: none;
   color: #91999D;
   cursor: pointer;
   padding: 0 2rem;
   transition: all 0.8s cubic-bezier(0.05, 0, 0.07, 0.95);
 }
 
 .toggle-btn:hover {
   color: #333;
   border: 1px solid #DBDBDB;
   background-color: #f5f5f5;
   background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%);
   border-radius: 4rem;
 }
 











 /* .toggle-btn {
   height: 4rem;
   width: fit-content;
   margin: auto;
   margin-top: 15px;
   background: none;
   border: none;
   border-radius: 4rem;
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   text-decoration: none;
   color: #91999D;
   cursor: pointer;
   padding: 0 2rem;
   transition: all 2s ease;

 }
 
 .toggle-btn:hover {
   color: #333;
   bottom: 0;
   left: 0;
   width: fit-content;
   height: 4rem;
   padding: 0 2rem;
   border: 1px solid #DBDBDB;
   background-color: #f5f5f5;
   background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%);
   border-radius: 4rem;
   transition: all 0.8s ease;
   z-index: 0; 
   animation-timing-function: cubic-bezier(0.05, 0, 0.07, 0.95);
   transition: all 2s ease;
 } */
 
/* Карточки кейсов */





.casesSber, 
.casesSkim {
   display: flex;
   position: relative;
   flex-direction: row;
   gap: 0;
   justify-content: center;
   align-items: center;
   transition: gap 0.3s ease;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.casesSber:hover, 
.casesSkim:hover {
   gap: 1rem;
}




.caseCard {
   font-size: 16px;
   color: #333;
   bottom: 0;
   left: 0;
   height: auto;
   border: 1px solid #DBDBDB;
   background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%);
   z-index: 0; 
   animation-timing-function: cubic-bezier(0.05, 0, 0.07, 0.95);

   flex: 1 1 auto;
   position: relative;
   transition: transform 0.3s ease, opacity 0.3s ease;
   transition: all 0.6s ease;
   border-radius: 3rem;
   overflow: hidden;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);

   width: 30rem;
   padding: .5rem;
   padding-bottom: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-decoration: none;
}



/* Sber cards */
.casesSber .caseCard:nth-child(1) {
   transform: translateX(2rem) translateY(4rem) rotate(-10deg);
}
.casesSber .caseCard:nth-child(2) {
   transform:  translateY(-2rem);
}
.casesSber .caseCard:nth-child(3) {
   transform: translateX(-2rem) translateY(4rem) rotate(8deg);
}

/* Skim cards */
.casesSkim .caseCard:nth-child(1) {
   transform: translateX(2rem) translateY(0) rotate(-4deg);
   /* transform:  scale(1.4); */
}


/* hover on all cards */
.casesSber .caseCard:nth-child(1):hover, 
.casesSber .caseCard:nth-child(2):hover, 
.casesSber .caseCard:nth-child(3):hover,
.casesSkim .caseCard:nth-child(1):hover {
   box-shadow: 0 0 36rem 0 #fff inset;
}


/* hover on cases all cards set directrly */
.casesSber:hover .caseCard:nth-child(1),
.casesSber:hover .caseCard:nth-child(2),
.casesSber:hover .caseCard:nth-child(3),
.casesSkim:hover .caseCard:nth-child(1) {
   transform: translateX(0) translateY(0) rotate(0);
}




.caseCover {
   width: 100%;
   height: 16rem;
   border-radius: 2.5rem;
   background-image: url(images/userpic_2.JPG);
   background-size: cover;
   background-position: center;
}

.caseCard h1{
   font-size: 1.8rem;
   font-weight: 500;
   line-height: 120%;
   padding-left: 1rem;   
   padding-right: 1rem;
   text-align: left;
}
.caseCard p,
.prjCard p {
   font-size: 1.6rem;
   font-family: "Inter Tight", sans-serif;
   line-height: 2.5rem;
   font-weight: 300;
   color: #91999D;
   padding-left: 1rem;   
   padding-right: 1rem;
}

/* Set up covers on cards by ID */
.fishCover{
   background-image: url(images/Covers/default-cover.jpg);
}
#sber1{
   background-image: url(images/Covers/sber-rebranding.jpg);
}
#sber2{
   background-image: url(images/Covers/sber-projects.jpg);
}
#sber3{
   background-image: url(images/Covers/sber-design-system.jpg);
}
#skim1{
   background-image: url(images/Covers/skim.jpg);
}
#shum{
   background-image: url(images/Covers/shum.jpg);
}

.disabeledCard {
   filter: opacity(.5);
   cursor: no-drop;
}



/* Other projects */

.otherProjects {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.prjCard {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   padding: .5rem;
   padding-right: 1.5rem;

   background-color: #f5f5f5;
   border-radius: 2rem;
   border: 1px solid #DBDBDB;
   background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 7%, #fff 100%);
   color: #333;
   text-decoration: none;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);

   animation-timing-function: cubic-bezier(0.05, 0, 0.07, 0.95);
   transition: transform 0.3s ease, opacity 0.3s ease;
   transition: all 4s ease;
   overflow: hidden;

   justify-content: space-between;

}
.prjCard:hover {
   box-shadow: 0 0 36rem 0 #fff inset;
   transition: all 4s ease;

}

.prjCard h1 {
   font-size: 1.6rem;
   font-weight: 500;
   text-align: left;
   padding-left: 1rem;
   margin-bottom: 1rem;
   line-height: 120%;
}

/* .prjCard p {
   font-size: 1.6rem;
} */

.prjCardCover {
   height: 10rem;
   width: 40%;
   background-color: #333;
   background-position: center;
   background-size: cover;
   border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;

}

.prjCard .textBox{
   width: 60%;
   display: flex;
   flex-direction: column;
   height: fit-content;

}


/* Footer */
.footer {
   width: inherit;
   height: auto;
   position: relative;
   width: 496px;
   margin: auto;
}
.footer p {
   font-size: 1.2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #666;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-style: normal;
   text-align: center;
}









/*  */
.modal {
   display: none; /* Скрыто по умолчанию */
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
 }
 
 .modal-content {
   background-color: white;
   margin: 10% auto;
   padding: 20px;
   border-radius: 10px;
   width: 80%;
   max-width: 800px;
   position: relative;
 }
 
 .close {
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 30px;
   cursor: pointer;
 }



 .page-container {
   position: relative;
   width: 100%;
   height: auto;
   overflow: visible;
}

.page {
   opacity: 0;
   transform: translateY(60px); 
   transition: opacity 1s ease, transform 1s ease; 
}

.page.fade-out {
   opacity: 0;
   transform: translateY(60px);
}

.page.fade-in {
   opacity: 1;
   transform: translateY(0);
}